In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from scipy import stats

In [2]:
df = pd.read_csv('eMalahleni.csv', sep =';', header=0, index_col=0)

In [3]:
df.head()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
Date Time,,,,,,,,,,,,,,
01:00 01/01/2009,9.380,13.065,5.317,3.160,2.873,6.030,38.085,0.047,4.70,177.66,17.15,84.13,850.43,5.33
02:00 01/01/2009,12.922,13.360,20.670,12.042,2.495,14.537,33.463,0.040,4.39,194.34,15.47,94.83,851.77,39.00
03:00 01/01/2009,18.903,19.393,31.210,16.608,3.312,19.920,22.502,0.243,3.60,145.36,15.15,92.28,851.90,25.67
04:00 01/01/2009,7.577,7.698,10.465,1.843,2.037,3.883,43.183,0.222,4.87,112.73,15.05,86.45,850.07,9.00
05:00 01/01/2009,5.023,5.407,6.683,3.657,2.593,6.248,40.870,0.063,2.70,99.15,15.87,79.83,849.10,1.00

In [4]:
df.describe()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
count,66820.000000,66311.000000,68195.000000,64417.000000,64941.000000,64523.000000,72576.000000,71243.000000,70475.000000,69028.000000,70082.000000,70819.000000,77746.000000,77387.000000
mean,27.096303,51.366808,18.014874,17.138750,11.894929,28.603589,27.149912,0.681963,2.090472,161.083578,17.315102,56.954836,852.991724,0.184210
std,33.743497,60.447749,27.862131,14.900721,25.455432,36.005309,17.885151,3.569402,1.434161,101.023668,6.112940,24.683383,7.220018,2.243422
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.760000,0.000000,0.000000,0.000000
25%,8.600000,16.531500,4.685000,6.978000,2.629000,10.000000,13.772750,0.155000,0.890000,77.020000,13.300000,36.720000,850.470000,0.000000
50%,16.267000,32.767000,9.605000,12.663000,5.362000,18.143000,25.541000,0.333000,1.930000,125.255000,17.430000,56.720000,852.920000,0.000000
75%,31.902750,63.038000,20.039500,22.787000,10.200000,32.683000,37.747250,0.724000,3.010000,267.150000,21.510000,78.180000,855.480000,0.000000
max,1286.000000,1382.099000,776.503000,323.752000,696.770000,951.648000,203.450000,658.800000,9.630000,360.000000,34.990000,100.450000,866.940000,159.730000

In [5]:
from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer

In [11]:
imputer = IterativeImputer(sample_posterior=True)

In [12]:
imputed = imputer.fit_transform(df)

In [13]:
df_itimp = pd.DataFrame(imputed, columns=df.columns)

In [14]:
df_itimp.head()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
0,9.380,13.065,5.317,3.160,2.873,6.030,38.085,0.047,4.70,177.66,17.15,84.13,850.43,5.33
1,12.922,13.360,20.670,12.042,2.495,14.537,33.463,0.040,4.39,194.34,15.47,94.83,851.77,39.00
2,18.903,19.393,31.210,16.608,3.312,19.920,22.502,0.243,3.60,145.36,15.15,92.28,851.90,25.67
3,7.577,7.698,10.465,1.843,2.037,3.883,43.183,0.222,4.87,112.73,15.05,86.45,850.07,9.00
4,5.023,5.407,6.683,3.657,2.593,6.248,40.870,0.063,2.70,99.15,15.87,79.83,849.10,1.00

In [15]:
df_itimp.describe()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
count,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000,87648.000000
mean,26.611206,50.912985,18.055548,17.132236,11.927194,28.556754,27.222156,0.681416,2.096280,160.380982,17.303700,57.069584,852.962942,0.183600
std,33.665741,60.720061,33.682914,14.670213,22.932436,32.109981,18.046229,3.598556,1.439561,102.978449,6.113328,24.993207,7.213808,2.268291
min,-97.892387,-185.023381,-117.263221,-31.604568,-40.109217,-35.327114,-46.544755,-13.425039,-3.505108,-280.830577,-10.709674,-59.431962,0.000000,-8.557576
25%,8.135750,15.726750,4.257000,7.174750,2.651000,10.983000,13.934429,0.119000,0.930000,77.577500,13.260000,37.330000,850.310000,0.000000
50%,17.350000,35.083860,10.307000,13.767000,6.053000,20.733000,25.823000,0.338000,1.970000,133.070000,17.400000,56.930000,852.900000,0.000000
75%,36.348250,70.489000,23.952315,23.743769,13.583000,35.842886,38.236099,0.914000,3.030000,259.272482,21.470000,77.600000,855.640000,0.000000
max,1286.000000,1382.099000,3608.759522,863.707225,696.770000,951.648000,203.450000,658.800000,9.630000,612.266543,40.443647,267.339106,879.208255,159.730000

In [ ]:
 df_itimp.to_csv("ITeMalahleni.csv",  sep =';', header=True)