In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from scipy import stats

In [2]:
df = pd.read_csv('eMalahleni.csv', sep =';', header=0, index_col=0)

In [3]:
df.head()

,SO2,NO2,NO,NOx,O3,CO,PM2.5,PM10,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
Date Time,,,,,,,,,,,,,,
01:00 01/01/2017,13.133,NaN,NaN,NaN,3.467,0.841,108.350,165.633,0.81,50.02,20.00,67.28,852.83,0.0
02:00 01/01/2017,2.883,NaN,NaN,NaN,16.500,0.620,30.517,48.483,1.14,42.77,19.30,73.78,852.30,0.0
03:00 01/01/2017,1.000,NaN,NaN,NaN,22.150,0.301,13.183,18.233,0.68,38.65,18.77,81.78,852.05,0.0
04:00 01/01/2017,1.000,NaN,NaN,NaN,18.100,0.196,6.917,9.567,0.91,29.04,18.00,86.95,852.00,0.0
05:00 01/01/2017,1.067,NaN,NaN,NaN,13.500,0.217,13.800,18.333,0.58,32.23,17.70,91.03,851.95,0.0

In [4]:
df.describe()

,SO2,NO2,NO,NOx,O3,CO,PM2.5,PM10,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
count,14578.000000,13318.000000,13324.000000,13338.000000,13605.000000,15602.000000,8735.000000,8208.000000,15619.000000,14172.000000,16006.000000,16011.000000,16005.000000,16129.00000
mean,13.109942,14.020796,8.960944,22.653042,31.593896,0.627319,34.168410,58.733889,2.202543,162.328069,17.574877,56.749416,853.407651,0.11142
std,16.193139,10.852685,20.421083,27.445531,21.533686,0.700480,34.580018,58.057263,1.449088,112.043584,5.938174,24.805012,3.548403,1.04521
min,0.000000,-3.667000,0.000000,-4.033000,-1.302000,0.002000,-25.172000,-0.695000,0.000000,0.010000,-2.510000,2.640000,838.000000,0.00000
25%,3.799000,5.733000,1.159750,7.538250,16.178000,0.260000,12.221000,22.565750,0.990000,71.635000,13.580000,36.875000,851.000000,0.00000
50%,7.966000,10.500000,2.933000,13.498000,28.936000,0.387000,24.413000,42.258000,2.060000,118.580000,17.650000,55.760000,853.260000,0.00000
75%,16.285750,19.532750,7.000000,26.398750,43.548000,0.713000,44.175000,73.796000,3.150000,281.742500,21.650000,77.175000,855.750000,0.00000
max,269.917000,83.839000,276.917000,309.400000,203.450000,11.163000,588.626000,842.319000,9.220000,359.990000,34.120000,100.150000,866.450000,39.80000

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
imputer= SimpleImputer()

In [7]:
imputed = imputer.fit_transform(df)

In [8]:
df_simimp = pd.DataFrame(imputed, columns=df.columns)

In [10]:
df_simimp.head()

,SO2,NO2,NO,NOx,O3,CO,PM2.5,PM10,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
0,13.133,14.020796,8.960944,22.653042,3.467,0.841,108.350,165.633,0.81,50.02,20.00,67.28,852.83,0.0
1,2.883,14.020796,8.960944,22.653042,16.500,0.620,30.517,48.483,1.14,42.77,19.30,73.78,852.30,0.0
2,1.000,14.020796,8.960944,22.653042,22.150,0.301,13.183,18.233,0.68,38.65,18.77,81.78,852.05,0.0
3,1.000,14.020796,8.960944,22.653042,18.100,0.196,6.917,9.567,0.91,29.04,18.00,86.95,852.00,0.0
4,1.067,14.020796,8.960944,22.653042,13.500,0.217,13.800,18.333,0.58,32.23,17.70,91.03,851.95,0.0

In [11]:
df_simimp.describe()

,SO2,NO2,NO,NOx,O3,CO,PM2.5,PM10,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
count,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,13.109942,14.020796,8.960944,22.653042,31.593896,0.627319,34.168410,58.733889,2.202543,162.328069,17.574877,56.749416,853.407651,0.111420
std,14.771019,9.462061,17.808410,23.946721,18.975666,0.661024,24.416148,39.736912,1.368210,100.770308,5.675787,23.712670,3.391506,1.002857
min,0.000000,-3.667000,0.000000,-4.033000,-1.302000,0.002000,-25.172000,-0.695000,0.000000,0.010000,-2.510000,2.640000,838.000000,0.000000
25%,4.517000,6.916250,1.560000,9.001500,20.147500,0.275000,24.499250,45.231750,1.140000,80.670000,14.010000,38.847500,851.140000,0.000000
50%,10.385500,14.020796,4.968000,20.167500,31.593896,0.432000,34.168410,58.733889,2.202543,162.328069,17.574877,56.749416,853.407651,0.000000
75%,13.700000,16.033000,8.960944,22.653042,38.835500,0.644000,34.168410,58.733889,2.990000,253.222500,21.190000,75.070000,855.420000,0.000000
max,269.917000,83.839000,276.917000,309.400000,203.450000,11.163000,588.626000,842.319000,9.220000,359.990000,34.120000,100.150000,866.450000,39.800000